<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Pickleball Community Finder" />
  <meta property="og:description" content="Find open play pickleball courts near you!" />
  <meta property="og:image" content="/assets/images/brand-image.jpg" />

  <!-- Google fonts & Font Awesome -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

  <!-- CSS stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/css/style.css">

  <title>Stack My Paddle</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md py-3 shadow">
      <div class="container-fluid ms-2 ms-4-lg">
        <a class="navbar-brand " href="/">
          <h1 class="title pt-0 m-0">Stack My Paddle</h1>
          <h5 class="subtitle pt-0 m-0 text-muted">Find a local pickleball community</h5>
        </a>
        <button class="navbar-toggler border-0 btn-close-white" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" , href="/about">About Pickleball</a>
            {{#if logged_in}}
            <a class="nav-link" id="profile" href="/profile">Profile</a>
            <a class="nav-link" id="logout" href="/">Logout</a>
            {{else}}
            <a class="nav-link" href="/login">Login</a>
            {{/if}}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer class="mt-5">
    <small class="text-muted">© Stack My Paddle 2022</small>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  {{#if logged_in}}
  <script src="/assets/js/logout.js"></script>
  {{/if}}
</body>

</html>