<div class="container-fluid mt-5">
  <p class="display-6 text-center">About Pickleball</p>
  <div class="row g-3 p-0 justify-content-center">
    <div class="col-auto">
      <p>Pickleball is one of the fastest growing sports in the United States, combing elements of badminton, tennis,
        and table tennis for a challenging yet non-physically punishing
        workout. The beauty of pickleball is that at it's lowest levels players need only paddles, a net and a ball to
        play, a very small initial investment for any sport. From
        there, it is completely up to the individual on how far they wish to go, with pro players making up to $200,000
        a year at this time. As pickleball is such a low impact sport,
        players can also begin and play to any age.
      </p>
    </div>
  </div>


  <p class="display-6 my-4 text-center">Required equipment</p>
  <div class="row g-3 p-0 justify-content-center">
    <div class="col-auto">
      <ul class="list-style-type:square">
        <li class="info1">A net - usually 36 inches high at the sidelines and 34 inches high in the middle</li>
        <li class="info1">Paddles for each player - official paddles cannot exceed 17 inches and must have a surface
          area of less than 24 inches</li>
        <li class="info1">A perforated polyurethane ball</li>
        <li class="info1">A partner to play with!</li>
      </ul>
    </div>
  </div>

  <p class="display-6 my-4 text-center">General rules</p>
  <div class="row g-3 p-0 justify-content-center">
    <div class="col-auto">
      <ul class="list-style-type:square">
        <li class="info1">The ball must stay inbounds</li>
        <li class="info1">There should be one bounce per side at the beginning of play before volleying can begin</li>
        <li class="info1">The serve cannot land in the kitchen</li>
        <li class="info1">The game ends at 11 or 15 points</li>
      </ul>
    </div>
  </div>
</div>