<p class="display-6 my-4">Find an open play court near you</p>
<div class="container-fluid">
  <div class="row g-3 p-0">
    <div class="col-8">
      <input type="text" class="form-control" id="location" placeholder="Enter a City, State, or Zipcode">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</div>