<div class="jumbotron text-center bg-transparent">
            <h1 class="display-3 my-3 text-lowercase">Picklestack</h1>
            <p class="lead my-4">Pickleball court locator</p>
            <hr class="my-3">
            <p class="my-1">Enter location:</p>
            <input class="text-center my-3" type="text" id="name" placeholder="City, state, zipcode..." autocomplete="off" spellcheck="off">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Locate</a>
            </p>
        </div>

        <h1>BEN WUZ HERE</h1>