<form class="login-container login-form">
    <label for="username">Username:</label>
    <input type="text" id="username" class="username" placeholder="Your username..." spellcheck="off">
    <label for="password">Password:</label>
    <input type="password" id="password" class="password" placeholder="Your password..." spellcheck="off">
    <button type="submit" class="login">Login</button>
</form>
<a href="/signup">Sign up!</a>

<script src="./assets/script/login.js"></script>