  <main class="row justify-content-center align-items-center">
    <div id="signup-container" class="col-md-12">
        <form id="signup-form" class="form">
            <h3 class="text-center my-4">Create an account</h3>
            <hr class="my-3">
            <label for="email" class="my-1">Your email:</label><br>
                <input type="text" name="email" id="email" class="form-control mb-2">
            <label for="password" class="my-1">Password:</label><br>
                <input type="text" name="password" id="password" class="form-control mb-2">
            <label for="password" class="my-1">Confirm password:</label><br>
                <input type="text" name="password" id="password" class="form-control mb-2">
            <div class="row justify-content-center align-items-center">
                <input type="submit" name="login" class="btn btn-info btn- my-3 w-auto" value="Create account">
                <div id="register-link" class="text-center mt-3">
                    <span>Already have an account?<br><a href="#" class="text-info">Login here</a></span>
                </div>
            </div>
        </form>
    </div>
  </main>