 <main class="row justify-content-center align-items-center">
            <div id="login-container" class="col-md-12">
                <form id="signup-form" class="form signup-form">
                    <h3 class="text-center my-4">Sign up!</h3>
                    <hr class="my-3">
                    <label for="name" class="my-1">Your Name:</label><br>
                        <input type="text" name="name" id="name" class="form-control mb-2">
                    <label for="email" class="my-1">Your Email:</label><br>
                        <input type="text" name="email" id="email" class="form-control mb-2">
                    <label for="password" class="my-1">New Password:</label><br>
                        <input type="text" name="password" id="password" class="form-control mb-2">
                    <input type="submit" name="signup" class="btn btn-info btn-md my-3" value="Signup">
                    <div id="register-link" class="text-center">
                        <span>Have an account?<br><a href="#" class="text-info">Log in here</a></span>
                    </div>
                </form>
            </div>
        </main>

<script src="./assets/script/signup.js"></script>
